body{ 
	background-color:#ffffff;
	width: 990px;
	height:658px;
	background-image: url("images/lol.png");
	background-repeat: no-repeat;
	background-position: center top;


}


h1{ text-align: center;
	margin-right: -450px;
	


}

h2{
	width: 400px;
	float: left;
	text-align: center;
	margin-left: -10px;
	margin-top: 30px;
	font-family: 'Old Standard TT', serif;

}


header img{
	margin-top: 10px;
}

article{

	width: 400px;
	float: left;
	text-align: justify;
	margin-left: 200px;
	margin-top: 20px;
	font-family:'Nanum Myeongjo', serif;

}

article2 {

	font-family:'Nanum Myeongjo', serif;
	width: 500px;
	float: right;
	text-align: justify;
	margin-right: -370px;
	margin-top: 20px;
	
}

.topnav {
	font-family: 'Old Standard TT', serif;
    background-color: #939696;
    overflow: hidden;
    margin-left:100px;
    text-align: center;
    margin-right: -300px;


}

.topnav a {
	font-family: 'Old Standard TT', serif;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 13px 12px;
    text-decoration: none;
    font-size: 17px;
    margin-right: 200px;


}

.topnav a:hover {
    background-color: #ddd;
    color: black;

}

.topnav a.active {
    background-color: #E8B5E8;
    color: white;
}

.footer {
   position: fixed;
   left: 0px;
   bottom: 0px;
   width: 100%;
   background-color: gray;
   color: white;
   text-align: left;
   font-family: 'Old Standard TT', serif;
   font-size: 12px;

}
